# AIB Data Hack

Imports:

In [1]:
# IMPORTS
import pandas as pd
import matplotlib.pyplot as plt

## Reading the CSV

In [2]:
test = pd.read_csv("data/training.txt",sep='\t', lineterminator='\n')

c:\users\daniel~1\coding\datasc~1\devenv\lib\site-packages\IPython\core\interactiveshell.py:2717: DtypeWarning: Columns (98,99,100,111,114,115,116,118,119,120,121,123,124,125,126,140) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

## Describing initial data

In [3]:
test.describe()

,BuildingID,EnergyRatingCont,AvgWallU,AvgRoofU,AvgFloorU,AvgWindowU,AvgDoorU,ExposedWallArea,ExposedRoofArea,TotFloorArea,...,FuelTypeSecondBoiler,EffSecondHeatGenPlant,PercSecondHeat,FuelTypeThirdBoiler,EffThirdHeatGenPlant,PercThirdHeat,HeatingSystemSolarSpace,TotPrimaryEnergyFac,TotCO2Emissions,PrimaryEnergySecondarySpace
count,464514.000000,464502.000000,418057.000000,464502.000000,464502.000000,464502.000000,464502.000000,464502.000000,464502.000000,464502.000000,...,5627.000000,5622.000000,5622.000000,5622.000000,5622.000000,5622.000000,5622.000000,5646.000000,5646.000000,4.127800e+05
mean,331771.507537,260.502160,0.681326,0.368432,0.448594,2.766202,2.502561,91.043766,69.081900,66.008098,...,3.335881,18.690608,5.259694,1.060655,3.697261,0.825863,0.193348,1.427722,0.257974,-6.627683e+05
std,191635.334525,208.511406,0.561282,0.495978,0.243910,0.795336,1.012556,52.389315,50.392556,46.193947,...,6.679914,44.572814,12.437017,0.681459,17.449471,4.149375,1.757735,0.244705,0.090785,3.159458e+06
min,2.000000,-63.960000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-6.298434e+07
25%,165862.250000,175.280000,0.310000,0.130000,0.340000,2.200000,2.650000,52.560000,41.110000,40.940000,...,1.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,1.269000,0.232000,8.584782e+02
50%,331791.500000,224.290000,0.520000,0.220000,0.440000,2.760000,3.000000,84.880000,57.410000,56.820000,...,1.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,1.444000,0.266000,2.299477e+03
75%,497534.250000,299.120000,0.610000,0.400000,0.610000,3.100000,3.000000,111.160000,89.650000,86.090000,...,1.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,1.540000,0.298000,3.862553e+03
max,663592.000000,56423.710000,5.650000,7.000000,7.760000,6.000000,8.600000,1138.800000,932.870000,884.730000,...,28.000000,303.200000,88.000000,28.000000,100.000000,41.000000,35.000000,3.818000,0.823000,2.896878e+06

## Printing first ten rows of initial data

In [ ]:
test.head(10)

,BuildingID,County,Type,Year,RatingType,EnergyRatingCat,EnergyRatingCont,GroundFloorArea,AvgWallU,AvgRoofU,...,EffSecondHeatGenPlant,PercSecondHeat,FuelTypeThirdBoiler,EffThirdHeatGenPlant,PercThirdHeat,HeatingSystemSolarSpace,TotPrimaryEnergyFac,TotCO2Emissions,PrimaryEnergySecondarySpace,EnergyMainWater
0,190835,Co. Wexford,Mid-terrace house,Y1890.0,Existing,F,418.42,52.04 sq. m,2.10,2.30,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000,2335.68
1,523113,Co. Clare,Detached house,Y1901.0,Existing,G,520.35,147.44 sq. m,2.01,0.75,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7144.838,4470.08
2,271393,Co. Kerry,Detached house,Y1968.0,Existing,D2,281.33,104.84 sq. m,0.38,0.13,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2127.347,5837.47
3,585961,Co. Cork,Semi-detached house,Y2002.0,Existing,C2,188.17,95.31 sq. m,0.55,0.26,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2771.886,3769.62
4,624083,Co. Laois,Detached house,Y2002.0,Existing,B3,134.95,283.87 sq. m,0.55,0.26,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000,5296.58
5,30231,Cork City,Ground-floor apartment,Y2007.0,Final,B2,108.77,94.4 sq. m,0.34,0.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000,2127.17
6,350444,Co. Carlow,Mid-floor apartment,Y2003.0,Existing,C1,156.65,76.15 sq. m,0.55,0.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000,3648.32
7,592196,Co. Offaly,End of terrace house,Y2000.0,Existing,E2,369.22,91.41 sq. m,0.55,0.15,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1815.646,5119.5
8,365924,Co. Donegal,Detached house,Y1989.0,Existing,D2,287.42,125.61 sq. m,0.31,0.13,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5221.411,5815.95
9,303002,Co. Meath,Semi-detached house,Y2002.0,Existing,C3,219.05,124.66 sq. m,0.55,0.40,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4892.394,3759.15

In [ ]:
def parseOutSqm(x):
    return x[:len(x)-6]
# Converting NaN values
test.apply(lambda x: x.fillna(x.mean()))

# Parsing out the sq. m
test["GroundFloorArea"] = test["GroundFloorArea"].apply(parseOutSqm).astype(float)

test["GroundFloorArea"] = test["GroundFloorArea"].fillna(test["GroundFloorArea"].median())
test.head(10)

In [ ]:
def parseYear(x):
    return x[1:]
test["Year"] = test["Year"].apply(parseYear)

In [ ]:
# Converting types to numbers
test.loc[test["Type"] == "House", "Type"] = 0
test.loc[test["Type"] == "Apartment", "Type"] = 1
test.loc[test["Type"] == "Ground-floor apartment", "Type"] = 2
test.loc[test["Type"] == "Mid-floor apartment", "Type"] = 3
test.loc[test["Type"] == "Top-floor apartment", "Type"] = 4
test.loc[test["Type"] == "End of terrace house", "Type"] = 5
test.loc[test["Type"] == "Mid-terrace house", "Type"] = 6
test.loc[test["Type"] == "Semi-detached house", "Type"] = 7
test.loc[test["Type"] == "Detached house", "Type"] = 8
test.loc[test["Type"] == "Maisonette", "Type"] = 9

In [ ]:
# Converting classes to numbers
# A1,A2,A3,B1,B2,B3,C1,C2,C3,D1,D2,E1,E2,F,G
test.loc[test["EnergyRatingCat"] == "A1", "EnergyRatingCat"] = 0
test.loc[test["EnergyRatingCat"] == "A2", "EnergyRatingCat"] = 1
test.loc[test["EnergyRatingCat"] == "A3", "EnergyRatingCat"] = 2
test.loc[test["EnergyRatingCat"] == "B1", "EnergyRatingCat"] = 3
test.loc[test["EnergyRatingCat"] == "B2", "EnergyRatingCat"] = 4
test.loc[test["EnergyRatingCat"] == "B3", "EnergyRatingCat"] = 5
test.loc[test["EnergyRatingCat"] == "C1", "EnergyRatingCat"] = 6
test.loc[test["EnergyRatingCat"] == "C2", "EnergyRatingCat"] = 7
test.loc[test["EnergyRatingCat"] == "C3", "EnergyRatingCat"] = 8
test.loc[test["EnergyRatingCat"] == "D1", "EnergyRatingCat"] = 9
test.loc[test["EnergyRatingCat"] == "D2", "EnergyRatingCat"] = 10
test.loc[test["EnergyRatingCat"] == "E1", "EnergyRatingCat"] = 11
test.loc[test["EnergyRatingCat"] == "E2", "EnergyRatingCat"] = 12
test.loc[test["EnergyRatingCat"] == 'F', "EnergyRatingCat"] = 13
test.loc[test["EnergyRatingCat"] == 'G', "EnergyRatingCat"] = 14

In [ ]:
test.head(10)

In [ ]:
test.ix[:, test.columns.difference(['BuildingID'])].head(10).plot()
plt.show()

In [ ]:
from numpy._distributor_init import NUMPY_MKL
# Import the linear regression class
from sklearn.linear_model import LinearRegression
# Sklearn also has a helper that makes it easy to do cross validation
from sklearn.cross_validation import KFold

# The columns we'll use to predict the target
# "AvgWallU", "AvgRoofU", "AvgFloorU", "AvgWindowU", "AvgDoorU", "ExposedWallArea","GroundFloorArea"
predictors = ["ExposedRoofArea"]

# Initialize our algorithm class
alg = LinearRegression()
# Generate cross validation folds for the titanic dataset.  It return the row indices corresponding to train and test.
# We set random_state to ensure we get the same splits every time we run this.
kf = KFold(test.shape[0], n_folds=3, random_state=1)

predictions = []
for train, t in kf:
    # The predictors we're using the train the algorithm.  Note how we only take the rows in the train folds.
    train_predictors = (test[predictors].iloc[train,:])
    # The target we're using to train the algorithm.
    train_target = test["EnergyRatingCont"].iloc[train]
    # Training the algorithm using the predictors and target.
    alg.fit(train_predictors, train_target)
    # We can now make predictions on the test fold
    test_predictions = alg.predict(test[predictors].iloc[test,:])
    predictions.append(test_predictions)

In [ ]:
import numpy as np
# The predictions are in three separate numpy arrays.  Concatenate them into one.  
# We concatenate them on axis 0, as they only have one axis.
predictions = np.concatenate(predictions, axis=0)

# Map predictions to outcomes (only possible outcomes are 1 and 0)
accuracy = 0
for i in range(0,len(predictions)):
    accuracy-=abs(predictions[i]-test["EnergyRatingCont"][i])
accuracy/=float(len(predictions))
accuracy = 1.0 - accuracy
print(accuracy)