In [1]:
# IMPORTS
import pandas as pd
import matplotlib.pyplot as plt

In [32]:
test = pd.read_csv("data/training.txt",sep='\t', lineterminator='\n')

In [33]:
test.describe()

,BuildingID,EnergyRatingCont,AvgWallU,AvgRoofU,AvgFloorU,AvgWindowU,AvgDoorU,ExposedWallArea,ExposedRoofArea,TotFloorArea,...,FuelTypeSecondBoiler,EffSecondHeatGenPlant,PercSecondHeat,FuelTypeThirdBoiler,EffThirdHeatGenPlant,PercThirdHeat,HeatingSystemSolarSpace,TotPrimaryEnergyFac,TotCO2Emissions,PrimaryEnergySecondarySpace
count,464514.000000,464502.000000,418057.000000,464502.000000,464502.000000,464502.000000,464502.000000,464502.000000,464502.000000,464502.000000,...,5627.000000,5622.000000,5622.000000,5622.000000,5622.000000,5622.000000,5622.000000,5646.000000,5646.000000,4.127800e+05
mean,331771.507537,260.502160,0.681326,0.368432,0.448594,2.766202,2.502561,91.043766,69.081900,66.008098,...,3.335881,18.690608,5.259694,1.060655,3.697261,0.825863,0.193348,1.427722,0.257974,-6.627683e+05
std,191635.334525,208.511406,0.561282,0.495978,0.243910,0.795336,1.012556,52.389315,50.392556,46.193947,...,6.679914,44.572814,12.437017,0.681459,17.449471,4.149375,1.757735,0.244705,0.090785,3.159458e+06
min,2.000000,-63.960000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-6.298434e+07
25%,165862.250000,175.280000,0.310000,0.130000,0.340000,2.200000,2.650000,52.560000,41.110000,40.940000,...,1.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,1.269000,0.232000,8.584782e+02
50%,331791.500000,224.290000,0.520000,0.220000,0.440000,2.760000,3.000000,84.880000,57.410000,56.820000,...,1.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,1.444000,0.266000,2.299477e+03
75%,497534.250000,299.120000,0.610000,0.400000,0.610000,3.100000,3.000000,111.160000,89.650000,86.090000,...,1.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,1.540000,0.298000,3.862553e+03
max,663592.000000,56423.710000,5.650000,7.000000,7.760000,6.000000,8.600000,1138.800000,932.870000,884.730000,...,28.000000,303.200000,88.000000,28.000000,100.000000,41.000000,35.000000,3.818000,0.823000,2.896878e+06

In [50]:
test.head(10)

,BuildingID,County,Type,Year,RatingType,EnergyRatingCat,EnergyRatingCont,GroundFloorArea,AvgWallU,AvgRoofU,...,EffSecondHeatGenPlant,PercSecondHeat,FuelTypeThirdBoiler,EffThirdHeatGenPlant,PercThirdHeat,HeatingSystemSolarSpace,TotPrimaryEnergyFac,TotCO2Emissions,PrimaryEnergySecondarySpace,EnergyMainWater
0,190835,Co. Wexford,Mid-terrace house,90.0,Existing,F,418.42,52.04,2.10,2.30,...,0.0,0.0,1.0,0.0,0.0,0.0,1.444,0.266,0.000,2335.68
1,523113,Co. Clare,Detached house,01.0,Existing,G,520.35,147.44,2.01,0.75,...,0.0,0.0,1.0,0.0,0.0,0.0,1.444,0.266,7144.838,4470.08
2,271393,Co. Kerry,Detached house,68.0,Existing,D2,281.33,104.84,0.38,0.13,...,0.0,0.0,1.0,0.0,0.0,0.0,1.444,0.266,2127.347,5837.47
3,585961,Co. Cork,Semi-detached house,02.0,Existing,C2,188.17,95.31,0.55,0.26,...,0.0,0.0,1.0,0.0,0.0,0.0,1.444,0.266,2771.886,3769.62
4,624083,Co. Laois,Detached house,02.0,Existing,B3,134.95,283.87,0.55,0.26,...,0.0,0.0,1.0,0.0,0.0,0.0,1.444,0.266,0.000,5296.58
5,30231,Cork City,Ground-floor apartment,07.0,Final,B2,108.77,94.40,0.34,0.00,...,0.0,0.0,1.0,0.0,0.0,0.0,1.444,0.266,0.000,2127.17
6,350444,Co. Carlow,Mid-floor apartment,03.0,Existing,C1,156.65,76.15,0.55,0.00,...,0.0,0.0,1.0,0.0,0.0,0.0,1.444,0.266,0.000,3648.32
7,592196,Co. Offaly,End of terrace house,00.0,Existing,E2,369.22,91.41,0.55,0.15,...,0.0,0.0,1.0,0.0,0.0,0.0,1.444,0.266,1815.646,5119.5
8,365924,Co. Donegal,Detached house,89.0,Existing,D2,287.42,125.61,0.31,0.13,...,0.0,0.0,1.0,0.0,0.0,0.0,1.444,0.266,5221.411,5815.95
9,303002,Co. Meath,Semi-detached house,02.0,Existing,C3,219.05,124.66,0.55,0.40,...,0.0,0.0,1.0,0.0,0.0,0.0,1.444,0.266,4892.394,3759.15

In [46]:
def parseOutSqm(x):
    return x[:len(x)-6]
# Converting NaN values
test["EffSecondHeatGenPlant"] = test["EffSecondHeatGenPlant"].fillna(test["EffSecondHeatGenPlant"].median())
test["PercSecondHeat"] = test["PercSecondHeat"].fillna(test["PercSecondHeat"].median())
test["FuelTypeThirdBoiler"] = test["FuelTypeThirdBoiler"].fillna(test["FuelTypeThirdBoiler"].median())
test["EffThirdHeatGenPlant"] = test["EffThirdHeatGenPlant"].fillna(test["EffThirdHeatGenPlant"].median())
test["PercThirdHeat"] = test["PercThirdHeat"].fillna(test["PercThirdHeat"].median())
test["HeatingSystemSolarSpace"] = test["HeatingSystemSolarSpace"].fillna(test["HeatingSystemSolarSpace"].median())
test["TotPrimaryEnergyFac"] = test["TotPrimaryEnergyFac"].fillna(test["TotPrimaryEnergyFac"].median())
test["TotCO2Emissions"] = test["TotCO2Emissions"].fillna(test["TotCO2Emissions"].median())

# Parsing out the sq. m
test["GroundFloorArea"] = test["GroundFloorArea"].apply(parseOutSqm).astype(float)

test["GroundFloorArea"] = test["GroundFloorArea"].fillna(test["GroundFloorArea"].median())

TypeError: object of type 'float' has no len()

In [47]:
def parseYear(x):
    return x[1:]
test["Year"] = test["Year"].apply(parseYear)

In [49]:
# Converting types to numbers
test.loc[test["Type"] == "House", "Type"] = 0
test.loc[test["Type"] == "Apartment", "Type"] = 1
test.loc[test["Type"] == "Ground-flood apartment", "Type"] = 2
test.loc[test["Type"] == "Mid-flood apartment", "Type"] = 3
test.loc[test["Type"] == "Top-flood apartment", "Type"] = 4
test.loc[test["Type"] == "End of Terrace", "Type"] = 5
test.loc[test["Type"] == "Ground-flood apartment", "Type"] = 2

In [48]:
test.head(10)

,BuildingID,County,Type,Year,RatingType,EnergyRatingCat,EnergyRatingCont,GroundFloorArea,AvgWallU,AvgRoofU,...,EffSecondHeatGenPlant,PercSecondHeat,FuelTypeThirdBoiler,EffThirdHeatGenPlant,PercThirdHeat,HeatingSystemSolarSpace,TotPrimaryEnergyFac,TotCO2Emissions,PrimaryEnergySecondarySpace,EnergyMainWater
0,190835,Co. Wexford,Mid-terrace house,90.0,Existing,F,418.42,52.04,2.10,2.30,...,0.0,0.0,1.0,0.0,0.0,0.0,1.444,0.266,0.000,2335.68
1,523113,Co. Clare,Detached house,01.0,Existing,G,520.35,147.44,2.01,0.75,...,0.0,0.0,1.0,0.0,0.0,0.0,1.444,0.266,7144.838,4470.08
2,271393,Co. Kerry,Detached house,68.0,Existing,D2,281.33,104.84,0.38,0.13,...,0.0,0.0,1.0,0.0,0.0,0.0,1.444,0.266,2127.347,5837.47
3,585961,Co. Cork,Semi-detached house,02.0,Existing,C2,188.17,95.31,0.55,0.26,...,0.0,0.0,1.0,0.0,0.0,0.0,1.444,0.266,2771.886,3769.62
4,624083,Co. Laois,Detached house,02.0,Existing,B3,134.95,283.87,0.55,0.26,...,0.0,0.0,1.0,0.0,0.0,0.0,1.444,0.266,0.000,5296.58
5,30231,Cork City,Ground-floor apartment,07.0,Final,B2,108.77,94.40,0.34,0.00,...,0.0,0.0,1.0,0.0,0.0,0.0,1.444,0.266,0.000,2127.17
6,350444,Co. Carlow,Mid-floor apartment,03.0,Existing,C1,156.65,76.15,0.55,0.00,...,0.0,0.0,1.0,0.0,0.0,0.0,1.444,0.266,0.000,3648.32
7,592196,Co. Offaly,End of terrace house,00.0,Existing,E2,369.22,91.41,0.55,0.15,...,0.0,0.0,1.0,0.0,0.0,0.0,1.444,0.266,1815.646,5119.5
8,365924,Co. Donegal,Detached house,89.0,Existing,D2,287.42,125.61,0.31,0.13,...,0.0,0.0,1.0,0.0,0.0,0.0,1.444,0.266,5221.411,5815.95
9,303002,Co. Meath,Semi-detached house,02.0,Existing,C3,219.05,124.66,0.55,0.40,...,0.0,0.0,1.0,0.0,0.0,0.0,1.444,0.266,4892.394,3759.15